*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/.idea
/.idea
/.idea
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/ASMClassHack$MyClassVisitor.class
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/ASMClassHack$MyMethodVisitor.class
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/ASMClassHack.class
/buildSrc/build/libs/buildSrc.jar
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/ClassUtils$1$1.class
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/ClassUtils$1.class
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/ClassUtils.class
/app/src/main/assets/family.jpeg
/app/src/main/assets/house.jpeg
/buildSrc/build/tmp/jar/MANIFEST.MF
/buildSrc/build/resources/main/META-INF.gradle-plugins/my-plugin.properties
/app/src/main/assets/our.jpeg
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/PatchExtension.class
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/PatchGenerator$1.class
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/PatchGenerator.class
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/PatchPlugin.class
/buildSrc/build/classes/java/main/com/example/llcgs/kotlin/plugin/Utils.class
