<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.llcgs.android_kotlin">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.app.KotlinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.MainActivity"
            android:banner="@android:anim/accelerate_decelerate_interpolator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".basicsyntax.SecondActivity" />
        <activity android:name=".idiom.ThirdActivity" />
        <activity android:name=".codestandards.FourActivity" />
        <activity android:name=".classandobject.classandextends.FiveActivity" />
        <activity android:name=".classandobject.propertyandfield.SixActivity" />
        <activity android:name=".classandobject.interfaces.SevenActivity" />
        <activity android:name=".classandobject.modifier.EightActivity" />
        <activity android:name=".classandobject.extensions.NineActivity" />
        <activity android:name=".classandobject.dataclass.TenActivity" />
        <activity android:name=".classandobject.sealedclass.ElevenActivity" />
        <activity android:name=".classandobject.genericity.TwelveActivity" />
        <activity android:name=".classandobject.nestclass.ThirteenActivity" />
        <activity android:name=".classandobject.enumclass.FourteenActivity" />
        <activity android:name=".list.MyListActivity" />
        <activity android:name=".classandobject.object.FifteenActivity" />
        <activity android:name=".classandobject.delegation.SixteenActivity" />
        <activity android:name=".classandobject.propertydelegate.SeventeenActivity" />
        <activity android:name=".functionandlambda.function.EighteenActivity" />
        <activity android:name=".functionandlambda.lambda.NineteenActivity" />
        <activity android:name=".functionandlambda.inline.TwentyActivity" />
        <activity android:name=".other.structdeclarations.TwentyOneActivity" />
        <activity android:name=".other.gather.TwentyTwoActivity" />
        <activity android:name=".other.interval.TwentyThreeActivity" />
        <activity android:name=".other.typecheckchange.TwentyFourActivity" />
        <activity android:name=".other.thisexperssion.TwentyFiveActivity" />
        <activity android:name=".other.equals.TwentySixActivity" />
        <activity android:name=".other.operator.TwentySevenActivity" />
        <activity android:name=".other.airsafety.TwentyEightActivity" />
        <activity android:name=".other.exception.TwentyNineActivity" />
        <activity android:name=".other.annotation.ThirtyActivity" />
        <activity android:name=".other.reflect.ThirtyOneActivity" />
        <activity android:name=".stringandregex.ThirtyTwoActivity" />
        <activity android:name=".plugin.PluginActivity" />
        <activity android:name=".pluginlist.PluginListActivity" />
        <activity android:name=".pluginlist.PluginListFragmentActivity" />
        <activity android:name=".mvvm.login.MvvmActivity"/>
        <activity android:name=".mvvm.list.MvvmListActivity"/>
        <activity android:name=".mvvm.show.PhotoShowActivity"/>
    </application>

</manifest>