<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.llcgs.android_kotlin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Set android.software.leanback to false, so the APK will be available to both TV and regular devices. -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".base.app.KotlinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".home.MainActivity"
            android:banner="@android:anim/accelerate_decelerate_interpolator"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Kotlin -->
        <activity android:name=".kotlin.basicsyntax.SecondActivity" />
        <activity android:name=".kotlin.idiom.ThirdActivity" />
        <activity android:name=".kotlin.codestandards.FourActivity" />
        <activity android:name=".kotlin.classandobject.classandextends.FiveActivity" />
        <activity android:name=".kotlin.classandobject.propertyandfield.SixActivity" />
        <activity android:name=".kotlin.classandobject.interfaces.SevenActivity" />
        <activity android:name=".kotlin.classandobject.modifier.EightActivity" />
        <activity android:name=".kotlin.classandobject.extensions.NineActivity" />
        <activity android:name=".kotlin.classandobject.dataclass.TenActivity" />
        <activity android:name=".kotlin.classandobject.sealedclass.ElevenActivity" />
        <activity android:name=".kotlin.classandobject.genericity.TwelveActivity" />
        <activity android:name=".kotlin.classandobject.nestclass.ThirteenActivity" />
        <activity android:name=".kotlin.classandobject.enumclass.FourteenActivity" />
        <activity android:name=".list.MyListActivity" />
        <activity android:name=".kotlin.classandobject.object.FifteenActivity" />
        <activity android:name=".kotlin.classandobject.delegation.SixteenActivity" />
        <activity android:name=".kotlin.classandobject.propertydelegate.SeventeenActivity" />
        <activity android:name=".kotlin.functionandlambda.function.EighteenActivity" />
        <activity android:name=".kotlin.functionandlambda.lambda.NineteenActivity" />
        <activity android:name=".kotlin.functionandlambda.inline.TwentyActivity" />
        <activity android:name=".kotlin.other.structdeclarations.TwentyOneActivity" />
        <activity android:name=".kotlin.other.gather.TwentyTwoActivity" />
        <activity android:name=".kotlin.other.interval.TwentyThreeActivity" />
        <activity android:name=".kotlin.other.typecheckchange.TwentyFourActivity" />
        <activity android:name=".kotlin.other.thisexperssion.TwentyFiveActivity" />
        <activity android:name=".kotlin.other.equals.TwentySixActivity" />
        <activity android:name=".kotlin.other.operator.TwentySevenActivity" />
        <activity android:name=".kotlin.other.airsafety.TwentyEightActivity" />
        <activity android:name=".kotlin.other.exception.TwentyNineActivity" />
        <activity android:name=".kotlin.other.annotation.ThirtyActivity" />
        <activity android:name=".kotlin.other.reflect.ThirtyOneActivity" />
        <activity android:name=".kotlin.stringandregex.ThirtyTwoActivity" />

        <!-- RePlugin-->
        <activity android:name=".replugin.plugin.PluginActivity" />
        <activity android:name=".replugin.pluginlist.PluginListActivity" />
        <activity android:name=".replugin.pluginlist.PluginListFragmentActivity" />

        <!-- Mvvm -->
        <activity
            android:name=".mvvm.login.MvvmActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.list.MvvmListActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.show.PhotoShowActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.layoutdetails.LayoutDetailsActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.layoutdetails.CustomBindingClassNameActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.includes.IncludesActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.menu.MenuActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.commfeatures.CommonFeaturesActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.collections.CollectionsActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.stringliterals.StringLiteralsActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.resources.ResourcesActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.observableobjects.ObservableActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.observablefields.FieldsActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.observablecollections.ObservableCollectionsActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.generatedbinding.GeneratedBindingActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.viewstubs.ViewStubActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.advancedbinding.AdvancedBindingActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.attributesetters.AttributeSettersActivity"
            android:theme="@style/MvvmTheme" />
        <activity
            android:name=".mvvm.converters.ConvertersActivity"
            android:theme="@style/MvvmTheme" />

        <!-- Architecture -->
        <activity
            android:name=".architecture_components.lifecycle.LifeCycleActivity"
            android:theme="@style/ArchitectureTheme" />
        <activity
            android:name=".architecture_components.livedata.use_livedata.LiveDataActivity"
            android:theme="@style/ArchitectureTheme" />
        <activity
            android:name=".architecture_components.livedata.extend_livedata.ExtendLiveDataActivity"
            android:theme="@style/ArchitectureTheme" />
        <activity
            android:name=".architecture_components.livedata.transform_livedata.TransformLiveDataActivity"
            android:theme="@style/ArchitectureTheme" />
        <activity
            android:name=".architecture_components.menu.MenuArchActivity"
            android:theme="@style/ArchitectureTheme" />
        <activity
            android:name=".architecture_components.viewmodel.use_viewmodel.ViewModelActivity"
            android:theme="@style/ArchitectureTheme" />
        <activity
            android:name=".architecture_components.viewmodel.share_viewmodel.ShareViewModelActivity"
            android:theme="@style/ArchitectureTheme" />
        <activity
            android:name=".architecture_components.room.demo.RoomActivity"
            android:theme="@style/ArchitectureTheme" />
        <activity
            android:name=".architecture_components.room.menu.RoomMenuActivity"
            android:theme="@style/ArchitectureTheme" />
        <activity
            android:name=".architecture_components.room.entities.EntitiesActivity"
            android:theme="@style/ArchitectureTheme" />

        <!-- Material Design-->
        <activity
            android:name=".material.douya.login.MaterialLoginActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.douya.webview.MaterialWebViewActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.douya.main.MaterialHomeActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.douya.detail.MaterialDetailActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.douya.gallery.MaterialGalleryActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.douya.profile.MaterialProfileActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.douya.setting.MaterialSettingActivity"
            android:exported="false"
            android:label="设置"
            android:launchMode="singleTop"
            android:theme="@style/MaterialSettingTheme">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".material.douya.main.MaterialHomeActivity" />
        </activity>
        <activity
            android:name=".material.douya.about.MaterialAboutActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.touch_feedback.TouchFeedbackActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.reveal_effect.RevealEffectActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.activity_options.ActivityOptionsActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.activity_options.AnimationActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.path_animation.PathAnimationActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.view_state.ViewStateActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.svg.SvgActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.activity_options.ActivityTransitionActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.activity_options.AnimationTransitionActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.activity_options.SharedElementsActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".material.animation.activity_options.RevealActivity"
            android:theme="@style/MaterialTheme" />

        <!-- MediaPLayer -->
        <activity
            android:name=".material.mediaplayer.player.MusicPlayerActivity"
            android:theme="@style/MaterialTheme">
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".material.mediaplayer.fullscreen.FullScreenPlayerActivity"
            android:theme="@style/MaterialTheme"/>
        <activity
            android:name=".material.mediaplayer.now.NowPlayingActivity"
            android:theme="@style/MaterialTheme"/>
        <activity
            android:name=".material.mediaplayer.placeholder.PlaceHolderActivity"
            android:theme="@style/MaterialTheme"/>

        <!-- Design Pattern -->
        <activity
            android:name=".design_pattern.list.DesignPatternMainActivity"
            android:theme="@style/DesignPatternTheme" />
        <activity
            android:name=".design_pattern.facade.FacadeDesignPatternActivity"
            android:theme="@style/DesignPatternTheme" />
        <activity
            android:name=".design_pattern.flyweight.FlyweightDesignPatternActivity"
            android:theme="@style/DesignPatternTheme" />
        <activity
            android:name=".design_pattern.proxy.ProxyDesignPatternActivity"
            android:theme="@style/DesignPatternTheme" />
        <activity
            android:name=".design_pattern.wrapper.WrapperDesignPatternActivity"
            android:theme="@style/DesignPatternTheme" />

        <activity android:name=".modules.activity.ActivityListActivity" />
        <activity android:name=".modules.activity.standard.StandardActivity" />

        <!-- SingleTop-->
        <activity
            android:name=".modules.activity.singleTop.SingleTopActivity" />
        <activity
            android:name=".modules.activity.singleTop.SingleTop2Activity" />
        <activity
            android:name=".modules.activity.singleTop.SingleTop1Activity"
            android:launchMode="singleTop"/>

        <!-- SingleTask-->
        <activity
            android:name=".modules.activity.singleTask.SingleTaskActivity" />
        <activity
            android:name=".modules.activity.singleTask.SingleTask1Activity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".modules.activity.singleTask.SingleTask2Activity" />

        <service
            android:name=".material.mediaplayer.service.MusicService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <!-- A receiver that will receive media buttons and send as
            intents to your MediaBrowserServiceCompat implementation.
            Required on pre-Lollipop. More information at
            http://developer.android.com/reference/android/support/v4/media/session/MediaButtonReceiver.html -->
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <!--
             (REQUIRED) use this meta data to to declare the app OptionsProvider.
        -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.example.android.uamp.CastOptionsProvider" />

    </application>

</manifest>